<template>
  <div>
    <div class="row justify-content-center">
      <div class="col-md-4">
        <h3 class="text-center">{{Title}}</h3>
        <form v-on:submit.prevent="onSubmit">
          <div class="form-group">
            <label for="Email">Email address</label>
            <input v-model="email" type="text" class="form-control" id="Email" aria-describedby="emailHelp" placeholder="Enter email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            <div class="invalid-feedback">
              Please enter email
            </div>
            <div class="invalid-feedback">
              Invalid email and/or password
            </div>
          </div>
          <div class="form-group">
            <label for="Password">Password</label>
            <input v-model="password" type="password" class="form-control" id="Password" placeholder="Password">
            <div class="invalid-feedback">
              Please enter password
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-6"><button type="submit" class="btn btn-primary btn-block">Login</button></div>
          </div>
        </form>
      </div>
    </div>
    <hr/>
    <div class="row justify-content-center">
      <div class="col-md-4 text-center">
        Don't have an account? <a>Sign up</a>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
  import { Component, Prop, Vue } from 'vue-property-decorator';

  @Component({
    components: {
    },
  })
  export default class Login extends Vue {
    private Title: string = 'Sign In';
    private email: string = '';
    private password: string = '';

    onSubmit(): void {
      console.log(this.email);
      console.log(this.password);
      this.$http.post('https://managetasks.ru:5003/api/v1/user/auth', {email:this.email, password: this.password})
        .then((res) => console.log(res))
    }
  }
</script>
